<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.zzbo.concretemobile">

    <!--
        Файл манифеста AndroidManifest.xml
        https://metanit.com/java/android/2.3.php?ysclid=lcrf7e8xu9959413466
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Concretemobile"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".gui.RecipesActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gui.CalibrateWeightsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gui.CommissioningActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.OperatorViewActivity"
            android:exported="false"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".gui.catalogs.EditRecipeActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.catalogs.OrganizationActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.catalogs.TransporterActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.ReportsActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.SystemConfigActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.FactoryConfigActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.catalogs.RequisitesActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.OrdersActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".gui.catalogs.EditOrderActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>